.buttons{
    display: flex;
    gap: 12px;
}

.subscribe-button 
{
    button{
        background-color: rgb(204, 0, 0);;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right:16px;
        border: none;
        border-radius: 3px;
        cursor:pointer;
        transition: opacity 0.15s;
        vertical-align: top;
    }

    button:hover{
        opacity:0.7;
    }

    button:active{
        opacity:0.4;
    }
}

.join-button{
    button{
        background-color: white;
        color: rgb(65, 65, 235);
        border-color: rgb(65, 65, 235);
        border-style:solid;
        border-width: 1px;
        padding-top: 9px;
        padding-bottom:9px;
        padding-left :16px;
        padding-right: 16px;
        cursor:pointer;
        border-radius: 3px;
        transition: background-color 0.15s;
            color:  0.15s;
        vertical-align: top;
    }

    button:hover{
        background-color:rgb(65, 65, 235);
        color:white;
    }

    button:active{
        opacity:0.5;
    }
}

.tweet-button{
    button{
        background-color: rgb(90, 161, 233);
        color:white;
        border:none;
        border-radius:18px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        cursor:pointer;
        font-weight: bold;
        font-size: 15px;
        transition: box-shadow 0.15s;
        vertical-align: top;
    }


    button:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    }


}
