.stretch-button button{
    background-color: rgb(10, 128, 6);
    color:white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.15s;
    font-size: 20px;
}


.stretch-button button:hover{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;
        font-size: 15px;
    }
